.header-navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: #004D40!important;
}

.navbar-brand {
    color: white;
    padding-top: .8rem;
    padding-right: 2rem;
    padding-left: 1rem;
}

.nav-link {
    color: white;
    letter-spacing: .1rem;
    padding-top: .8rem;
    margin-right: .5rem;
}

.navbar-brand:hover, .nav-link:hover, .active {
    color: aquamarine;
    -webkit-transform: scale(1.05);
}
