{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/403.css' %}">
{% endblock header %}

<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">No disposa dels <span>permisos</span>.</span>
    <span class="support">
      <span>Inesperat?</span>
      <a href="{% url 'login' %}">Contacta amb el responsable</a>
    </span>
  </div>
  <div class="lock"></div>
</div>