{% extends 'magatzem/base-ceo.html' %}
{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-gestor.css' %}">
{% endblock header %}

{% block content %}

  <div class="row main-row mt-4 justify-content-md-center">

  {% include 'users/user-list.html' %}

    <div class="col-sm-5 mt-2 bg-light">

      <div class="box px-3 py-3" style="border-style: solid;
                                        border-color: #0D47A1;
                                        border-width: 1px;
                                        background:#dbe2ef ">
        <div class="row">
          <button type="button" class="btn btn-lg btn-block mt-1 text-button">Control SLA</button>
        </div>

        <div class="mt-4 mb-5">
          <h6 style="font-weight: 600; color: red; margin-left: 2rem;">Expiren avui</h6>
          <div class="scroll-panel-ceo">
            <ul class="list-group">
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>
              <li class="list-group-item"
                  style="font-weight: 600; color: red; margin-left: 1rem;">
                  Madera caoba  -  Quantitat: 10  -  Sala 1</li>

            </ul>
          </div>
        </div>


      <div class="header-content-left">
          <h5 class="heading mt-2 text-center">Magatzem</h5>
      </div>

      <div class="row">
        <button type="button" class="btn btn-lg btn-block mb-2 text-button">Manifests</button>
        <button type="button" class="btn btn-lg btn-block mt-3 text-button">Panell tàsques Operaris</button>
        <button type="button" class="btn btn-lg btn-block mt-2 mb-4 text-button">Panell tàsques Tècnics</button>
      </div>

      <div class="header-content-left">
          <h5 class="heading mt-2 text-center">Administració</h5>
      </div>

      <div class="row">
        <button type="button" class="btn btn-lg btn-block text-button">Valoracions Clients</button>
        <button type="button" class="btn btn-lg btn-block mb-2 text-button">Gestió usuaris</button>
      </div>
      </div>

    </div>
  </div>

{% endblock content%}
