<div id="header" class="page-header">
    {% block header %}
        <div id="right-sidebar">
            <div id="title">
                <h7>EXEMPLE HEADER --> (Cal posar el login/logout al marge dret amb css)</h7>
            </div>
            <h3>
                {% if user.username %}
                <p>
                    logged as: {{ request.user.username }} | <a href="{% url 'logout' %}?next={{request.path}}">logout</a>
                </p>
                {% else %}
                <p>
                    <a href="{% url 'login' %}?next={{request.path}}">login</a>
                    |
                    <a href="{% url 'register' %}?next={{request.path}}">register</a>
                </p>
                {% endif %}
            </h3>
        </div>
    {% endblock %}
</div>
