<nav class="navbar navbar-expand-lg header-navbar">
  <a class="navbar-brand" href="{% url 'gestor-home' %}">Storage & Go</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav">

      {% if title == "Home Gestor" %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'gestor-home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'gestor-home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      {% endif %}

      {% if "/sales/" in request.path %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'list-room' %}">Sales</a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'list-room' %}">Sales</a>
        </li>
      {% endif %}

      {% if "/tasques_operaris/" in request.path %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'panel-operaris' %}">Tasques Operaris</a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'panel-operaris' %}">Tasques Operaris</a>
        </li>
      {% endif %}
      <!-- Delete tabindex and aria when implemented-->
      {% if "/tasques_tecnics/" in request.path %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="#" aria-disabled="true">Tasques Tècnics</a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="#" aria-disabled="true">Tasques Tècnics</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.username %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ request.user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Desconecta'm</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Contecta'm</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>