{% extends 'magatzem/base-header.html' %}

{% block home %}
  <a class="navbar-brand" href="{% url 'gestor-home' %}">Storage & Go</a>
{% endblock home %}

{% block navegacio %}

  <ul class="navbar-nav">

      {% if title == "Home Gestor" %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'gestor-home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'gestor-home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      {% endif %}

      {% if "/sales/" in request.path %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'list-room' %}">Sales</a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'list-room' %}">Sales</a>
        </li>
      {% endif %}

      {% if "/tasques_operaris/" in request.path %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'panel-operaris' %}">Tasques Operaris</a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'panel-operaris' %}">Tasques Operaris</a>
        </li>
      {% endif %}
      <!-- Delete tabindex and aria when implemented-->
      {% if "/tasques_tecnics/" in request.path %}
        <li class="nav-item mr-2 active">
          <a class="nav-link active" href="{% url 'tasques-tecnics-mock' %}" aria-disabled="true">Tasques Tècnics</a>
        </li>
      {% else %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="{% url 'tasques-tecnics-mock' %}" aria-disabled="true">Tasques Tècnics</a>
        </li>
      {% endif %}
    </ul>

{% endblock navegacio %}