{% extends 'magatzem/base-gestor.html' %}
{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-gestor.css' %}">
{% endblock header %}

{% block content %}

  <div class="row main-row mt-4 justify-content-md-center">

    {% include 'magatzem/mapa.html' %}

    <div class="col-sm-5 mt-2 bg-light">

      <div class="box px-4 py-3 main-box">


      <div class="row">
        <a class="btn btn-lg btn-block mt-3 text-button" href="{% url 'panel-operaris' %}">Tasques Operaris</a>
        <a class="btn btn-lg btn-block mt-2 mb-4 text-button" href="{% url 'tasques-tecnics-mock' %}">Tasques Tècnics</a>
      </div>

        <div class="header-content-left">
          <h5 class="heading mt-2 text-center">Darreres tàsques</h5>
        </div>

        <div class="scroll-panel mt-2 mb-5">

          {% if last_tasks %}
            {% for task in last_tasks %}
              <div class="card border-info mb-2">
                <div class="card-header bg-transparent border-info">{{ task.description }}</div>
                <div class="card-body text-info">
                  <h6 class="card-text mb-1"> PRODUCTE: <strong>{{ task.containers.id_product }}</strong></h6>
                  <h6 class="card-text mb-1 text-muted">QUANTITAT: <strong>{{ task.containers.quantity }} containers</strong></h6>
                  <div class="row">
                    <div class="col-6">
                      <h6 class="card-text mb-1">ORIGEN: <strong>{{ task.origin_room.get_name }}</strong></h6>
                    </div>
                    <div class="col-6">
                      <h6 class="card-text mb-1">DESTÍ: <strong>{{ task.destination_room.get_name }}</strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          {% else %}
            <div class="card border-info mb-2">
                <div class="card-header bg-transparent border-info">AVUI ENCARA NO S'HAN GENERAT TASQUES</div>
              </div>
          {% endif %}

        </div>

        <div class="row">
        <a class="btn btn-lg btn-block text-button" href="{% url 'entrada-producte' %}">Nova entrada</a>
        <a class="btn btn-lg btn-block text-button" href="{% url 'sortida-producte' %}">Nova sortida</a>
        <a class="btn btn-lg btn-block mb-2 text-button" href="#">Avís tècnics</a>
      </div>

      </div>

    </div>
  </div>

{% endblock content%}
