{% extends 'magatzem/base-gestor.html' %}
{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-gestor.css' %}">
{% endblock header %}

{% block content %}

  <div class="row main-row mt-4 justify-content-md-center">

    {% include 'magatzem/mapa.html' %}

    <div class="col-sm-4 bg-light">
      <div class="row">
        <button type="button" class="btn btn-lg btn-block mt-3 text-button">Tasques Operaris</button>
        <button type="button" class="btn btn-lg btn-block mt-2 mb-4 text-button">Tasques Tècnics</button>

        <div class="header-content-left">
          <h5 class="heading mt-2 text-center">Darreres tàsques</h5>
        </div>

        <div class="scroll-panel mt-2 mb-5">

          <div class="card border-success mb-3">
            <div class="card-header bg-transparent border-success">Estat tasca</div>
            <div class="card-body text-success">
              <h6 class="card-title">Descripció de la tasca</h6>
            </div>
          </div>

          <div class="card border-success mb-3">
            <div class="card-header bg-transparent border-success">Estat tasca</div>
            <div class="card-body text-success">
              <h6 class="card-title">Descripció de la tasca</h6>
            </div>
          </div>

          <div class="card border-success mb-3">
            <div class="card-header bg-transparent border-success">Estat tasca</div>
            <div class="card-body text-success">
              <h6 class="card-title">Descripció de la tasca</h6>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <button type="button" class="btn btn-lg btn-block text-button">Nova entrada</button>
        <button type="button" class="btn btn-lg btn-block text-button">Nova sortida</button>
        <button type="button" class="btn btn-lg btn-block mb-4 text-button">Avís tècnics</button>
      </div>
    </div>
  </div>

{% endblock content%}
