{% extends 'magatzem/base-gestor.html' %}
{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/manifest-form.css' %}">
{% endblock header %}

{% block content %}

  <table style="height: 100px;">
    <tbody>
      <tr>
        <td class="align-middle">
          <form action="/magatzem/gestor/entrada/manifest" method="get">
            <label for="ref">Introdueix referència del manifest: </label>
            <input type="text" name="ref">
            <div class="col-auto my-1">
              <input type="submit" class="btn btn-primary text-button" value="Busqueda">
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>


{% endblock content %}
