{% extends 'magatzem/base.html' %}

{% block content %}


{% for task in tasks %}

<div class="alert alert-success" role="alert">
  A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

{% endfor %}

{% for task in tasks %}

    <h2>Task: {{ task.pk }} </h2>
    <h3>Description: {{ task.description }}</h3>
    <h3>Task_type: {{ task.task_type }}</h3>
    <h3>Task_origin: {{ task.origin_room }}</h3>
    <h3>Destination_room: {{ task.destination_room }}</h3>
    <h3>Containers: {{ task.containers }}</h3>

{% endfor %}

{% endblock content %}