{% extends 'magatzem/base-operaris.html' %}

{% block content %}

  {% for task in task_list %}
    {% if task.task_status < 3 %}

      <br>

      <div class="alert alert-success" role="alert">
        Tens una nova tasca!
      </div>

    {% endif %}

    {% if task.task_status < 4 %}
        <div class ="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4> Tasca {{ forloop.counter }}</h4>
                    </div>
                    <div class="card-body">
                        <h5><b>Sala origen:</b> {{ task.origin_room.get_name }}</h5>
                        <h5><b>Sala destí:</b> {{ task.destination_room.get_name }}</h5>
                        <h5><b>Producte:</b> {{ task.containers.product_id }}</h5>
                        <h5><b>Quantitat:</b> {{ task.containers.quantity }} </h5>

                        <div class="text-right">
                            <a class="btn btn-success"
                               href="{% url 'confirm-notification' task.pk %}"
                               role="button">Confirmar Tasca</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

  {% endfor %}

  {% if not task_list %}

    <br>
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
      No hi ha noves tasques
    </div>

  {% endif %}

{% endblock content %}