{% extends 'magatzem/base.html' %}

{% block content %}

{}
{% for task in tasks and lt task.task_status 3 %}

<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">Nova notificacio de tasca!</a>.
</div>

{% endfor %}

{% for task in tasks %}

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>Task: </h3>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
         <h4> Description: {{ task.description }}</h4>
         <h4> Sala Origen: {{task.origin_room.name}}</h4>
         <h4>Sala Desti: {{task.destination_room.name}}</h4>
         <h4>Container: </h4>
         <h5>Producte: {{task.containers.product_id}}</h5>
         <h5>Cantitat: {{task.containers.quantitat}} </h5>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock content %}