{% extends 'magatzem/base-gestor.html' %}

    <title>Product entry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




<div class="container">

<div class="col-2"></div>

<div class="container">
<div class="col-8">
    <div class="row" style="border: solid; border-width: 1px; border-color: black">
        <div class="col-12">
            <div class="row">
                <div class="col-6" style="background-color: khaki;"><p class="text-center">10/01/2019</p>
                </div>
                <div class="col-6" style="background-color: khaki">C/Cabanes (Sant Esteve de Les Roures)
                </div>

            </div>
            <div class="row">
                <div class="col-2" style="background-color: khaki">REF
                </div>
                <div class="col-5" style="background-color: khaki">836596238569
                </div>
                <div class="col-5" style="background-color: khaki"> STORAGE-A
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="border: solid; border-width: 10px; border-color: cornflowerblue">
        <div class="col-12">
            <div class="row">
                <div class="table table-responsive table-bordered" >
                    <table class="table" >
                        <thead>
                            <tr class="table">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2">Temperatura</td>
                                <td colspan="2">Humedad</td>
                            </tr>
                            <tr class="table">
                                <td>Contenido</td>
                                <td>Num Contenedores</td>
                                <td>Data SLA</td>
                                <td>Min</td>
                                <td>Max</td>
                                <td>Min</td>
                                <td>Max</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table">
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table">
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table">
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table">
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table">
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" value="">
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                 </div>
            </div>

        </div>

    </div>
</div>

</div>

<div class="float-right">
<a class="btn btn-success" href="base.html" role="button">Registrar</a>
<a class="btn btn-warning" href="base.html" role="button">Incidencia</a>
<a class="btn btn-danger" href="base.html" role="button">Cancelar</a>


</div>
</div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
