{% extends 'magatzem/base-gestor.html' %}
{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/product-entry.css' %}">
{% endblock header %}

{% block content %}
  {% if not is_valid_ref %}
  <div class="container" style="margin-top: 5rem">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6" style="text-align:center">
        <h5 class="my-5">No hi cap comanda amb aquesta referència.</h5>
        <a class="btn btn-success" href="{% url 'sortida-producte' %}" role="button">Tornar</a>
      </div>
    </div>
  </div>
  {% elif not containers %}
    <h5 class="my-5">No hi productes per servir aquesta comanda.</h5>
    <a class="btn btn-success" href="{% url 'sortida-producte' %}" role="button">Tornar</a>
  {% else %}
<div class="table-mrg">
  <div class="col-2"></div>

  <div class="col-8">
    <div class="row" style="border: solid; border-width: 1px; border-color: black">
      <div class="col-12">
        <div class="row">
          <div class="col-6" style="background-color: khaki;">
            {{ containers.creationDate }}
          </div>
          <div class="col-6" style="background-color: khaki">
            From: C/Cabanes (Sant Esteve de Les Roures)
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="background-color: khaki">
            REF: {{ ref }}
          </div>
          <div class="col-6" style="background-color: khaki">
            Productor: {{ toLocation }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="border: solid; border-width: 10px; border-color: cornflowerblue">
      <div class="col-12">
        <div class="row">
          <div class ="table-responsive">
            <table class="table table-responsive table-bordered table-hover">

              <caption style="display: none"> Contenidors a entrar </caption>
              <thead>
                <tr>
                  <th scope="col"> <b>Producte</b></th>
                  <th scope="col"> <b>Num Contenidors</b></th>
                  <th scope="col"> <b>Data SLA</b></th>
                  <th scope="col"> <b>Temp Min</b></th>
                  <th scope="col"> <b>Temp Max</b></th>
                  <th scope="col"> <b>Hum Min</b></th>
                  <th scope="col"> <b>Hum Max</b></th>
                </tr>
              </thead>
              {% for container in containers %}
                <tr>
                <!--
                  <td>{{ container.id_product.product_id }}</td>
                  <td>{{ container.quatity }}</td>
                  <td>{{ container.sla.limit }}</td>
                  <td>{{ container.sla.temp_min }} ºC</td>
                  <td>{{ container.sla.temp_max }} ºC </td>
                  <td>{{ container.sla.hum_min }} %</td>
                  <td>{{ container.sla.hum_max }} %</td>
                  -->
                  <td>{{ container.0 }}</td>
                  <td>{{ container.1 }}</td>
                  <td>{{ container.2 }}</td>
                  <td>{{ container.3 }} ºC</td>
                  <td>{{ container.4 }} ºC </td>
                  <td>{{ container.5 }} %</td>
                  <td>{{ container.6 }} %</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="float-right">
  <a class="btn btn-success" href="{% url 'gestor-home' %}" role="button">Confirmar</a>
  <a class="btn btn-warning" href="#" role="button">Incidencia</a>
  <a class="btn btn-danger" href="{% url 'sortida-producte' %}" role="button">Cancelar</a>
</div>
  {% endif %}

{% endblock content %}
