{% extends 'magatzem/base-gestor.html' %}
{% block content %}

  <div class="card-columns mt-3">
    {% for room in room_list  %}
    <div class="card" style="margin-bottom: 1em">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h2> {{ room.get_name }} </h2>
          </div>
          <div class="col-sm-6">
            {% if room.room_status == 0 %}
              <h3 class="float-sm-right" style="color:red">Tancada </h3>
            {% else %}
              <h3 class="float-sm-right" style="color:green">Oberta </h3>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-7">
            <p class="card-text">
              <ion-icon class="mr-1" name="thermometer"> </ion-icon>
                Temp: {{ room.temp }} ºC
            </p>
            <p class="card-text">
              <ion-icon class="mr-1" name="water"> </ion-icon>
                Hum: {{ room.hum }} %
            </p>
            <p class="card-text">
              <ion-icon class="mr-1" name="cube"> </ion-icon>
                Capacitat: {{ room.quantity }} / {{ room.limit }}
            </p>
          </div>
          <div class="col-sm-5 d-flex flex-column">
            {% if room.room_status == 1 %}
            <a href="{% url 'open-room' room.pk %}" class="btn btn-danger mt-auto">Tancar sala</a>
            <a href="{% url 'detail-room' room.pk %}" class="btn btn-primary mt-auto">Mostra sala</a>
            {% endif %}
            {% if room.room_status == 0 %}
            <a href="{% url 'open-room' room.pk %}" class="btn btn-success mt-auto">Obrir sala</a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

{% endblock content %}