{% extends 'magatzem/base.html' %}

{% block content %}


<div class ="row">
    <div class="col-sm-12">
        {% for container in containers %}
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h2> {{container.pk}}</h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="col">
                    <table class="table table-bordered">
                        <tr>
                            <td>Id_Product: {{ container.product_id }}</td>
                            <td>Id_Producer: {{ container.producer_id }}</td>
                            <td>Limit : {{ container.limit }}</td>
                            <td>Quantity: {{ container.quantity }}</td>
                            <td>Temp_min: {{ container.temp_min }}</td>
                            <td>Temp_max: {{ container.temp_max }}</td>
                            <td>Hum_min: {{ container.hum_min }}</td>
                            <td>Hum_max: {{ container.hum_max }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>


    {% for task in tasks %}

        <h2>Task: {{ task.pk }} </h2>
        <h3>Description: {{ task.description }}</h3>
        <h3>Task_type: {{ task.task_type }}</h3>
        <h3>Task_status: {{ task.task_status }}</h3>
        <h3>Task_origin: {{ task.origin_room }}</h3>
        <h3>Destination_room: {{ task.destination_room }}</h3>
        <h3>Containers: {{ task.containers }}</h3>

    {% endfor %}



{% endblock content %}

