{% extends 'magatzem/base-gestor.html' %}
{% block content %}
<p class="mt-4 mb-4"><h2><b>Seleccionar productes de Sala</b></h2></p>
<div class="container" style="overflow-x:auto">
  <table class="table-bordered mt-2" width="100%" style="text-align: center; overflow-x:auto">
    {% if container_list %}
      <tr>
        <th scope="col"><h5><b> Producte </b></h5></th>
        <th scope="col"><h5><b> Quantitat actual </b></h5></th>
        <th scope="col"><h5><b> Modificació </b></h5></th>
        <th scope="col"><h5><b> Temp Min  </b></h5></th>
        <th scope="col"><h5><b> Temp Max </b></h5></th>
        <th scope="col"><h5><b> Hum Min </b></h5></th>
        <th scope="col"><h5><b> Hum Max  </b></h5></th>
      </tr>
    {% endif %}
    {% for container in container_list %}
      {% if container.quantity > 0 %}
        <tr>
          <td> {{ container.product_id }}</td>
          <td> {{ container.quantity }}</td>
          <td> <input  type="number" style="width: 75%;" min="0" max="{{ container.quantity }}"
                                  id="inputQuantity_{{ forloop.counter }}" name="{{ container.product_id }}"
                                  placeholder="0"></td>
          <td> {{ container.temp_min }}ºC</td>
          <td> {{ container.temp_max }}ºC</td>
          <td> {{ container.hum_min }}</td>
          <td> {{ container.hum_max }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

{% if container_list %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-4 col-lg-2 text-right">
    <button type="button" class="btn btn-success btn-block mt-5"  data-toggle="modal" data-target="#acceptModal">Aceptar</button>
      <div class="modal fade" id="acceptModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div align="left"><h5>Estas segur que vols guardar els canvis fets?</h5></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
              <a class="btn btn-primary text-button"  href="#" role="button"> Guardar canvis </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-md-4 col-lg-2">
    <button type="button" class="btn btn-danger btn-block mt-3" data-toggle="modal" data-target="#rejectModal">Cancelar</button>
      <div class="modal fade" id="rejectModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div align="left"><h5>Estas segur que vols descartar els canvis fets?</h5></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
              <a class="btn btn-primary text-button" href="{% url 'list-room' %}" role="button">Descartar canvis</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if not container_list %}
  <div class="alert alert-secondary" role="alert">
    <a href="#" class="alert-link">No hi ha productes en aquesta sala</a>
  </div>
{% endif %}

{% endblock content %}
