{% extends 'magatzem/base-gestor.html' %}
{% block content %}
<br>
<h2><b>Seleccionar productes de Sala</b></h2>
<br>
<div class="container">
  <form>

      <div style="overflow-x:auto">
      <table class="table-bordered" width="100%" cellspacing="8" cellpadding="0" border="0">
       <tr>
         <th width="25%"><div align="center"> <h5><b> Producte </b></h5></div>  </th>
         <th width="15%"><div align="center"> <h5><b> Quantitat actual </b></h5></div> </th>
         <th width="20%"><div align="center"> <h5><b> Modificació </b></h5></div> </th>
         <th width="10%"><div align="center"> <h5><b> Temp Max </b></h5></div> </th>
         <th width="10%"><div align="center"> <h5><b> Temp Min </b></h5></div> </th>
         <th width="10%"><div align="center"> <h5><b> Hum Max </b></h5></div> </th>
         <th width="10%"><div align="center"> <h5><b> Hum Min </b></h5></div> </th>
       </tr>
        {% for container in productes %}
        {% if container.quantity > 0 %}
       <tr>
         <td> <div align="center">{{ container.product_id }}</div></td>
         <td> <div align="right"> {{ container.quantity }} &nbsp;</div></td>
         <td> <input type="number" class="form-control" id="inputQuantity" placeholder="0"> </td>
         <td> <div align="right"> {{ container.temp_max }}ºC&nbsp;</div></td>
         <td> <div align="right"> {{ container.temp_min }}ºC&nbsp;</div></td>
         <td> <div align="right"> {{ container.hum_max }}ºC&nbsp;</div></td>
         <td> <div align="right"> {{ container.hum_min }}ºC&nbsp;</div></td>
       </tr>
        {% endif %}
        {% endfor %}
      </table>
      </div>
      <br>
  </form>
</div>

<div class="text-right" >
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-success " >Aceptar</button>
    <button type="button" class="btn btn-danger " >Cancelar</button>
  </div>
</div>

{% endblock content %}
