{% extends 'magatzem/base-gestor.html' %}
{% block content %}

  <div class="row justify-content-md-center mt-2 mb-4">
    <!-- BEGIN FISTS COLUMN -->
    <div class="col-md mr-1" style="background: lightgrey">
      <h6 class="heading mt-4 mb-4 text-center"> TASKS TO DO </h6>

      <ul class="list-group mt-2">
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: lightskyblue;">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Moll de càrrega</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Sala 3</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: lightgreen;">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Sala 2</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Moll càrrega</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: antiquewhite">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Sala 3</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Sala 1</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
      </ul>
    </div>
    <!-- END FISTS COLUMN -->

    <!-- BEGIN SECOND COLUMN -->
    <div class="col-md mr-1" style="background: lightgrey">
      <h6 class="heading mt-4 mb-4 text-center"> TASKS DOING </h6>
        <!-- THIS IS ONE EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: antiquewhite">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Sala 3</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Sala 1</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: antiquewhite">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Sala 3</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Sala 4</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: lightskyblue;">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Moll de càrrega</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Sala 3</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: lightgreen;">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Sala 2</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Moll càrrega</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
    </div>
    <!-- END SECOND COLUMN -->

    <!-- BEGIN THIRD COLUMN -->
    <div class="col-md mr-1" style="background: lightgrey">
      <h6 class="heading mt-4 mb-4 text-center"> TASKS DONE </h6>
       <!-- BEGINEXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: lightskyblue;">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Moll de càrrega</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Sala 3</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
        <!-- BEGIN EXAMPLE CARD-->
        <div class="card border-primary mb-1" style="width: 100%; background: lightgreen;">
          <div class="card-header">
            <h5># Task: task title</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">ORIGEN: Sala 2</h6>
            <h6 class="card-subtitle mb-2 text-muted">QUANTITAT: # containers</h6>
            <h6 class="card-subtitle mb-2">DESTÍ: Moll càrrega</h6>
            <a href="#" class="btn btn-dark">Obrir tasca</a>
          </div>
        </div>
        <!-- END EXAMPLE CARD-->
    </div>
    <!-- BEGIN THIRD COLUMN -->
  </div>

{% endblock content %}