<!-- templates/registration/login.html -->
{% extends 'magatzem/base.html' %}
{% load static %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock header %}

{% block role %}
  <!--
	<div class="container">
	    <div class="loginout" style="margin-top: 10%">
	        <div class="row">
	            <div class="col-sm"></div>
	            <div class="col-sm">
	                <div class="col-xs-12 col-md-12 col-lg-12" align="center" style="padding:5px">
						<img src="{% static 'users/img/test-logo.png' %}" width="70" height="50" alt="Your logo here">
	                </div>
	                <div class="content-section">
	                    <form method="POST">
	                    {% csrf_token %}
	                    <fieldset class="form-group">
	                        <legend class="border-bottom mb-4 "align="center"> Log In</legend>
							<div align="center">
								{{ form|crispy }}
							</div>
	                    </fieldset>
	                        <div class="form-group" align="center">
	                            <button class="btn btn-primary btn-lg" type="submit">Login</button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="col-sm"></div>
	        </div>
	    </div>
	</div>
	-->

  <div class="content">
    <img src="{% static 'users/img/test-logo.png' %}" alt="Your logo here">
    <form method="post" novalidate>
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      <!--Alert for errors-->
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <!-- End alert -->


      {% for field in form.visible_fields %}
        <div class="form-group">

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn submit-btn">Entrar</button>
    </form>
  </div>

{% endblock role %}
