{% extends 'magatzem/base-ceo.html' %}
{% load static from staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-gestor.css' %}">
{% endblock header %}

{% block content %}

  <div class="row main-row mt-4 justify-content-md-center">
      {% include 'magatzem/mapa.html' %}
      <div class="scroll-panel mt-2 mb-5">
          {% for container in containers %}
              <div class="card border-info mb-2">
                <div class="card-header bg-transparent border-info">
                    Limit: {{ sla.limit }}
                </div>
                <div class="card-body text-info">
                  <h6>Quantitat:</h6> {{ container_group.quantity }}
                  <h6>Temp Max:</h6>  {{ sla.temp_max }}
                  <h6>Temp Min:</h6>  {{ sla.temp_min }}
                  <h6>Hum Max:</h6>   {{ sla.hum_max }}
                  <h6>Hum Min:</h6>   {{ sla.hum_min }}
                </div>
              </div>
          {% endfor %}

      {% include 'magatzem/barra_lateral-ceo.html' %}
      </div>
  </div>

{% endblock content%}