<div class="col-sm-5 mt-2 bg-light">

  <div class="box px-3 py-3" style="border-style: solid;
                                        border-color: #0D47A1;
                                        border-width: 1px;
                                        background:#dbe2ef ">
    <div class="row">
      <a class="btn btn-lg btn-block text-button" href="{% url 'sla-control' %}">Control SLA</a>
    </div>

    <div class="mt-4 mb-5">
      <div class="scroll-panel-ceo mt-2 mb-5">
        {% if slas %}
        <h6 style="font-weight: 600; color: red; margin-left: 2rem;">Expiren avui</h6>

        {% for sla in slas %}
        <div class="card border-info mb-2">
          <div class="card-header bg-transparent border-info">

              <div class="row">
                  <div class="col-md-6">
                    <p style="text-align: left"><h7 class=" card-text">Producte:</h7> {{ container.product.product_id }}</p>
                  </div>
                  <div class="col-md-6">
                    <p style="text-align: right"><h7 class="card-text">Productor:</h7> {{ container.product.producer_id }}</p>
                  </div>
              </div>

          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if not slas %}
        <h6 style="font-weight: 600; color: red; margin-left: 2rem;">No hi ha productes que expirin avui</h6>
        {% endif %}

      </div>
    </div>


    <div class="header-content-left">
      <h5 class="heading mt-2 text-center">Magatzem</h5>
    </div>

    <div class="row">
      <a href="{% url 'manifests-ceo' %}" class="btn btn-lg btn-block mb-2 text-button">Manifests</a>

    </div>

    <div class="header-content-left">
      <h5 class="heading mt-2 text-center">Administració</h5>
    </div>

    <div class="row">
      <a class="btn btn-lg btn-block mb-2 text-button" href="{% url 'list_users' %}">Gestió usuaris</a>
    </div>
  </div>
</div>