{% extends 'magatzem/base-header.html' %}

{% block home %}
  <a class="navbar-brand" href="{% url 'ceo-home' %}">Storage & Go</a>
{% endblock home %}

{% block navegacio %}

  <ul class="navbar-nav">
    <li class="nav-item mr-2 active">
      <a class="nav-link active" href="{% url 'ceo-home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" href="#">Control SLA</a>
    </li>
    <!-- Delete tabindex and aria when implemented-->
    <li class="nav-item mr-2">
      <a class="nav-link" href="{% url 'manifests-ceo' %}" aria-disabled="true">Manifests</a>
    </li>
  </ul>

{% endblock navegacio %}
