{% extends 'oficina/base-ceo.html' %}
{% load static from staticfiles %}
{% block content %}
{% if manifestcontainers %}
  <h3 class="mt-2 mb-4">Productes</h3>

  <table class="table-bordered mt-2" width="100%" style="text-align: center; overflow-x:auto">
    <tr>
      <th scope="col"><h5><b>Nom</b></h5></th>
      <th scope="col"><h5><b>Data limit</b></h5></th>
      <th scope="col"><h5><b> Temp Min  </b></h5></th>
      <th scope="col"><h5><b> Temp Max </b></h5></th>
      <th scope="col"><h5><b> Hum Min </b></h5></th>
      <th scope="col"><h5><b> Hum Max  </b></h5></th>

      {% for container in manifestcontainers %}
        <tr>
      <td>{{ container.id_product.product_id }}</td>
      <td>{{ container.id_SLA.limit }}</td>
      <td> {{ container.id_SLA.temp_min }}ºC</td>
      <td> {{ container.id_SLA.temp_max }}ºC</td>
      <td> {{ container.id_SLA.hum_min }}</td>
      <td> {{ container.id_SLA.hum_max }}</td>
        </tr>
      {% endfor %}

  </table>
{% endif %}

{% if not manifestcontainers %}
  <div class="alert alert-secondary" role="alert">
    <a href="#" class="alert-link">No hi ha productes en aquests manifest</a>
  </div>
{% endif %}

{% endblock content%}