{% extends 'oficina/base-ceo.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="col">
    {% if manifestentry %}
    <div class="card-header mt-4">
        <h2>Manifests d'entrada</h2>
    </div>
    <div class="scroll-panel mb-5" style=" position: relative;
                                      width: 100%;
                                      height: calc(100vh - 575px);
                                      min-height: 165px;
                                      overflow-y: scroll;">
        {% for entry in manifestentry %}
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h4>Referencia</h4>
                    </div>
                    <div class="row">
                        <h5>{{ entry.ref}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h4>Origen</h4>
                    </div>
                    <div class="row">
                        <h5>{{ entry.origin }}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h4>Data</h4>
                    </div>
                    <div class="row">
                        <h5>{{ entry.date }}</h5>
                    </div>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-primary" href="{% url 'manifests-detail-ceo' entry.pk %}">Mostrar manifest</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif%}
        {% if not manifestentry %}
        <div class="alert alert-secondary" role="alert">
            <a href="#" class="alert-link">No hi ha manifests d'entrada</a>
        </div>
        {% endif %}
    </div>
    <div class="card-header mt-4">
        <h2>Manifests de sortida</h2>
    </div>
    <div class="scroll-panel mb-5" style=" position: relative;
                                      width: 100%;
                                      height: calc(100vh - 575px);
                                      min-height: 165px;
                                      overflow-y: scroll;">
        {% if manifestexit %}
        {% for exit in manifestexit %}
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h4>Referencia</h4>
                    </div>
                    <div class="row">
                        <h5>{{ exit.ref}}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h4>Desti</h4>
                    </div>
                    <div class="row">
                        <h5>{{ exit.destination }}</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h4>Data</h4>
                    </div>
                    <div class="row">
                        <h5>{{ exit.date }}</h5>
                    </div>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-primary" href="{% url 'manifests-detail-ceo' exit.pk %}">Mostrar manifest</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if not manifestexit %}
        <div class="alert alert-secondary" role="alert">
            <a href="#" class="alert-link">No hi ha manifests d'entrada</a>
        </div>
        {% endif %}
    </div>
</div>

</div>

{% endblock content%}
